h5 {
    margin-top: 5px;
}

.topbar {
    height: 80px;
    background-color: #F4F4F4;
    box-shadow: 0 4px 8px -8px #718096;

}



.btn {
    color: #8D93AB;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'San Francisco', Fallback, sans-serif;
}

.btn i {
    margin-left: 15px;
}

.clear {
    clear: both;
}

.container-wrapper {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 0 50px;
}
