.login {
    background-color: #1a202c;
}

.login-label {
    color: #707070;
    font-size: 15px;
    margin: 0 2%;
    padding: 0;

}

.login-input {
    margin: 0;
    color: #707070;
    font-size: 18px;
    background-color: #d6e0f0;
    height: 56px;
    border: none;
    border-radius: 8px;
}
button:focus {outline:0;}
input:focus {outline:0;}
.login-label-remember {
    color: #707070;
    font-size: 15px;
    margin-left: 15px;
}

input.login-input-remember {
    margin-top: 35px;
    width: 15px;
    height: 15px;
    color: #C3CF20;
}

.login-btn {
    color: #F4F4F4;
    background-color: #C3CF20;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    margin: 35px auto 0 auto;
}

.button-wrapper-center {
    width: 100%;
    text-align: center
}

.login-form {
    height: 100vh;
}

.form-container {

    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100vh;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#snackbar {
    background-color: red;
    color: white;
}
