.login {
    background-color: #1a202c;
}

.login-label {
    color: #707070;
    font-size: 15px;
    margin: 0 2%;
    padding: 0;

}

.login-input {
    margin: 0;
    color: #707070;
    font-size: 18px;
    background-color: #d6e0f0;
    height: 56px;
    border: none;
    border-radius: 8px;
}
button:focus {outline:0;}
input:focus {outline:0;}
.login-label-remember {
    color: #707070;
    font-size: 15px;
    margin-left: 15px;
}

input.login-input-remember {
    margin-top: 35px;
    width: 15px;
    height: 15px;
    color: #C3CF20;
}

.login-btn {
    color: #F4F4F4;
    background-color: #C3CF20;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    margin: 35px auto 0 auto;
}

.button-wrapper-center {
    width: 100%;
    text-align: center
}

.login-form {
    height: 100vh;
}

.form-container {

    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100vh;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

