.btn-schedule {
    color: #F4F4F4;
    background-color: #C3CF20;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.row select, input, button {
    height: 36px;
}

.info-teachers {
    margin-top: 3%;
}

.page-title-teachers {
    margin-top: 6%;
}

.teachers-table-wrapper {
    width: 100%;
    margin: 2% 0 0 0;
}

.teachers-table {
    width: 100%;
    margin: 2% 0 0 0;
}
